
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #25D366;
}

[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #5e5d5d;
  --accent-color: #02362e;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent-color);
  padding: 1rem 2rem;
}

.navbar a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.theme-toggle {
  background: none;
  border: 2px solid white;
  color: white;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
}
